<header class="identity">
  <p class="identity__grade">Pokémon de base </p>
    <div class="identity__all">
      <h1 class="identity__name"> Bulbizarre</h1>
        <div class="identity__option">
          <p class="idntity__type" src="/asset/img/leaf.png" alt="Type plante"/>
        </div>
    </div>
</header>